@import '@angular/material/prebuilt-themes/indigo-pink.css';

.centering-container{
 //   display: flex;  
    justify-content: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.arr-ex1{
    font-weight: bold;

}


